@import "fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.blue_links {
  color: #5E8BCE;
}

button.owl-prev {
  position: absolute;
  top: 39%;
  cursor: pointer;
  height: 80px;
  width: 40px;
}

button.owl-next {
  position: absolute;
  top: 39%;
  cursor: pointer;
  height: 80px;
  width: 40px;
}

button {
  border: none;
  background: none;
}

select {
  border: none;
  text-transform: uppercase;
}

.hidden {
  overflow: hidden;
}

.grid {
  display: grid;
}
.grid_col-6 {
  grid-template-columns: 1fr 1fr;
}
.grid_col-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid_col-3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid_col-2 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.h-100 {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.rows {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 25%;
  padding: 0 15px;
}

.col-3 {
  width: 50%;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.flex_column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.text_center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.section_title {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}

.section_desc {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.sm_desc {
  display: block;
  text-align: left;
  margin-bottom: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.sm_title {
  font-family: "Readex Pro", sans-serif;
  text-align: left;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.owl-carousel .nav-button {
  font-size: 121px;
  color: #8c8c8c;
}

.owl-carousel .nav-button:hover {
  color: #2b303b;
  transition: 0.5s;
}

.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}

.head__search input#search:focus, .head__search input#search:active {
  outline: none;
  width: 300px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.head__search {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.head__search:hover input#search {
  width: 300px;
}
.head__search:hover .icon {
  color: #93a2ad;
}
.head__search input#search {
  width: 50px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}
.head__search .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}
.menu_mobile {
  display: none;
}
.menu li a {
  margin-left: 32px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  position: relative;
}
.menu li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  opacity: 0;
  border-bottom: 1px solid #000000;
}
.menu li a:hover:before {
  opacity: 1;
  transition: 0.5s;
}
.menu li a:hover {
  transition: 0.5s;
}
.menu_btn {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 9;
}
.menu_btn span:before {
  transform: translateY(-5px);
}
.menu_btn span::after {
  transform: translateY(5px);
}

.menu_btn span,
.menu_btn span:before,
.menu_btn span::after {
  display: block;
  width: 20px;
  height: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1px;
  transition: all 0.4s linear;
}

.menu_btn span:before,
.menu_btn span::after {
  content: "";
}

.phone {
  padding-top: 100px;
}
.phone__back {
  background: #DCE5E2;
  border-radius: 32px;
  padding-top: 51px;
}
.phone_left {
  padding-left: 56px;
}
.phone__text_title {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  padding: 145px 0 20px 0;
  color: #000000;
}
.phone__text_subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 30px;
  color: #828282;
}
.phone__text_btn {
  border: 1px solid #000000;
  border-radius: 200px;
  background: none;
  width: 170px;
  height: 50px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.phone__text_btn:hover {
  background-color: #2b303b;
  color: #ffffff;
  transition: 0.8s;
}
.phone__img_sng {
  height: 499.41px;
  width: 100%;
}
.phone__text_center__title {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  padding-bottom: 20px;
  color: #000000;
}

.shop {
  padding: 78px 0;
}
.shop__text_title {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 30px;
}
.shop__text_subtitle {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 60px;
}
.shop__back {
  background: #F8F9FA;
  border-radius: 32px;
  transition: 0.3s;
}
.shop__back:hover {
  box-shadow: 1px 0 5px 4px #C5C5C5;
}
.shop__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #828282;
}
.shop__laptop_text {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 20px;
}
.shop__left {
  text-align: right;
  padding-right: 30px;
  padding-bottom: 10px;
}
.shop__back_two {
  background: #F8F9FA;
  border-radius: 32px;
  overflow: hidden;
  padding: 144px 0 141px 0;
  transition: 0.3s;
}
.shop__back_two:hover {
  box-shadow: 1px 0 5px 4px #C5C5C5;
}
.shop__back__two_center {
  text-align: center;
  padding: 41px 0 10px 0;
}
.shop__back_three {
  background: #F8F9FA;
  border-radius: 32px;
  overflow: hidden;
  padding: 144px 0 88px 0;
  transition: 0.3s;
}
.shop__back_three:hover {
  box-shadow: 1px 0 5px 4px #C5C5C5;
}
.shop__back_bottom {
  background: #F8F9FA;
  border-radius: 32px;
  margin-top: 42px;
  transition: 0.3s;
}
.shop__back_bottom:hover {
  box-shadow: 1px 0 5px 4px #C5C5C5;
}

.item {
  padding: 40px 0;
}
.item__text_title {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 12px;
  padding-top: 10px;
}
.item__text_subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  padding-bottom: 25px;
}
.item__text_price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.best {
  padding: 47px 0 28px;
}
.best_title {
  font-size: 42px;
  line-height: 52px;
  text-align: center;
}
.best_desc {
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  margin: 9px 0 56px;
}
.best .grid {
  width: 100%;
  grid-column-gap: 28px;
}
.best_card {
  padding-top: 41px;
  background: #F8F9FA;
  border-radius: 16px;
}
.best_sm-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 35px;
}
.best_btn {
  display: block;
  margin: 30px auto;
  border: 1px solid #000000;
  border-radius: 200px;
  color: #000000;
  padding: 15px 63px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.3s;
}
.best_btn:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: #000000;
}
.best_img {
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 250px;
}
.best_img img {
  width: 100%;
  height: 100%;
}
.best-img {
  display: block;
  width: 355px;
  height: 250px;
  margin: 0 auto;
}

.have {
  padding: 47px 0 24px;
}
.have_desc {
  margin: 9px 0 56px;
}
.have_img {
  padding-right: 35px;
}
.have_right-part {
  padding: 10px 20px 0;
}
.have_link {
  display: block;
  text-align: left;
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.have_all {
  position: relative;
  text-align: center;
  padding-top: 73px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.have_all:before {
  content: "";
  position: absolute;
  right: 41%;
  top: 86.8px;
  margin: auto;
  height: 2.8px;
  width: 23.67px;
  background: #151A1E;
  border-radius: 1px;
  transform: rotate(318deg);
}
.have_all::after {
  content: "";
  position: absolute;
  right: 41%;
  top: 78px;
  margin: auto;
  height: 15px;
  width: 15px;
  border-bottom: 3.7px solid #151A1E;
  border-right: 3.7px solid #151A1E;
  border-radius: 0;
  transform: rotate(267deg);
}

.search {
  padding: 51px 0 18px;
}
.search_title {
  margin-bottom: 24px;
}
.search_label {
  position: relative;
}
.search_inp {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 60px;
  background: #F8F9FA;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  padding-left: 60px;
}
.search_inp::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.search_fab {
  position: absolute;
  display: block;
  z-index: 5;
  right: 71%;
  top: 22px;
}
.search_link {
  display: inline-block;
  margin: 18px 7px -9px 0;
  padding: 12px 22px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  transition: 0.3s;
}
.search_link:hover {
  box-shadow: 1px 0 5px 4px #C5C5C5;
}
.search_links {
  margin-bottom: 68px;
}
.search_bottom {
  max-width: 953px;
  margin: 0 auto;
  background: #DCE5E2;
  border-radius: 16px;
  padding: 47px 0;
}
.search_sm-desc {
  text-align: center;
  margin: 9px 0 14px;
}
.search_img {
  margin-bottom: 14px;
}
.search_img img {
  display: block;
  margin: 0 auto;
}
.search-inp {
  display: block;
  margin: 0 auto;
  padding: 0 32px;
  height: 50px;
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0 0 54px;
}
.search-inp::-webkit-input-placeholder {
  color: #000000;
}
.search_btn {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 16px 33px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  background: #000000;
  border-radius: 0 200px 200px 0;
}

.footer {
  padding-bottom: 5px;
  background: #F8F9FA;
}
.footer_top {
  padding: 44px 0 78px;
}
.footer_img img {
  padding-top: 15px;
  margin-bottom: 19px;
}
.footer svg {
  margin-bottom: 52px;
}
.footer_desc {
  color: #000000;
}

.first .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.first_title {
  margin-top: 10px;
  font-size: 50px;
  font-family: "SF Pro Display Semibold", sans-serif;
}
.first_desc {
  color: #828282;
  font-size: 21px;
  font-family: "SF Pro Display Light", sans-serif;
  padding: 15px 0 10px;
}
.first_link {
  color: #5E8BCE;
}

.second {
  padding: 35px 5px;
}
.second .grid {
  grid-column-gap: 10px;
}
.second_desc {
  font-size: 16px;
  font-family: "SF Pro Display Regular", sans-serif;
}
.second_first-card {
  grid-column-gap: 10px;
  margin-bottom: 10px;
  background: #F5F5F7;
  padding: 20px 25px;
}
.second_link {
  display: inline-block;
  padding: 20px 0 5px;
}
.second_card-img img {
  max-width: 187px;
  max-height: 270px;
}
.second_num {
  margin-bottom: 5px;
}
.second_info {
  color: #828282;
}

.watch .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.watch {
  padding: 50px 0 30px;
}
.watch .grid {
  grid-column-gap: 20px;
}
.watch_title {
  color: #1D1D1F;
  font-size: 50px;
  font-family: "SF Pro Display Semibold", sans-serif;
}
.watch_desc {
  font-size: 21px;
  color: #828282;
  margin: 8px 0 8px;
}
.watch_sm-desc {
  font-family: "SF Pro Display Medium", sans-serif;
  font-size: 20px;
  color: #1D1D1F;
  padding: 25px;
}
.watch-link {
  text-align: right;
  display: block;
  padding: 0 16px 29px;
}
.watch_first-card {
  margin-top: 30px;
  background: #F5F5F7;
}
.watch_card-img img {
  width: 90%;
  height: 85%;
}

.video {
  max-width: 100%;
  padding-top: 30px;
}

.professional {
  padding: 50px 0 30px;
}
.professional_img img {
  padding-top: 20px;
  width: 100%;
}

.card {
  padding: 80px 10px;
}
.card .grid {
  grid-column-gap: 15px;
}
.card_one {
  background: #F5F5F7;
}
.card_img {
  display: block;
  text-align: right;
  object-fit: cover;
}
.card_first {
  padding: 45px 25px;
}
.card_desc {
  margin: 10px 0;
  color: #6c757d;
}
.card_link {
  display: block;
}

.news_news {
  padding-bottom: 30px;
}
.news_desc {
  font-size: 21px;
  color: #828282;
  margin: 10px 0;
}
.news_title {
  color: #1D1D1F;
  font-size: 50px;
  font-family: "SF Pro Display Semibold", sans-serif;
}
.news_info {
  padding: 40px 30px;
}
.news_num {
  color: #BDBDBD;
}
.news_sm-title {
  margin: 10px 0;
}
.news_sm-desc {
  margin-bottom: 10px;
}
.news_img img {
  width: 100%;
}

.istore .container {
  max-width: 1200px;
}

.istore {
  padding: 20px 0;
}
.istore_title {
  font-size: 50px;
  font-family: "SF Pro Display Semibold", sans-serif;
  padding-bottom: 50px;
}
.istore_img {
  text-align: center;
}
.istore_img img {
  width: 100%;
  text-align: center;
}

.about .container {
  max-width: 1200px;
}

.about {
  padding: 40px 0;
}
.about_left-side {
  padding-left: 30px;
}
.about_title {
  font-weight: 500;
  font-family: "SF Pro Display Medium", sans-serif;
  font-size: 30px;
  color: #1D1D1F;
  margin-bottom: 20px;
}
.about_sm_title {
  font-weight: 500;
  font-family: "SF Pro Display Medium", sans-serif;
  font-size: 17px;
  padding-left: 10px;
  color: #1D1D1F;
}
.about_desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin: 20px 0;
}
.about_sm-desc {
  font-family: "SF Pro Display Light", sans-serif;
  font-size: 15px;
  color: #828282;
  margin-top: 5px;
}
.about_card {
  height: 185px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.about_card img {
  width: 35px;
  height: 35px;
}
.about_first {
  margin: 15px 0;
}
.about_second {
  margin-left: 15px;
}

.col_6 {
  width: 50%;
  padding: 0 15px;
}

.shop__text_title {
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 30px;
}

.aboutus {
  padding-bottom: 50px;
}
.aboutus__contacts {
  background: #F5F5F5;
}
.aboutus__contacts_number__phones {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 15px;
}
.aboutus__contacts_number__phones_call a:first-child {
  text-decoration: none;
  color: #000000;
}
.aboutus__contacts_number__phones_call a:first-child:hover {
  text-decoration: underline;
}
.aboutus__contacts_number {
  margin-bottom: 54px;
}
.aboutus__contacts {
  padding: 100px 0;
}

/*# sourceMappingURL=style.css.map */
